# dependencies
node_modules

# build outputs
.next
dist
build
coverage

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# database / prisma local
apps/api/prisma/dev.db

# uploaded files
apps/api/uploads/*
!apps/api/uploads/.gitkeep
!apps/api/uploads/products/
!apps/api/uploads/products/.gitkeep

# secrets
apps/api/secrets